.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.choiceButton {
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
}

.choiceButton:hover {
  background-color: #000000;
  color: #ffffff;
}

.inputChoice {
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

.inputfield {
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  width: 500px;
}

label {
  font-size: 20px;
  margin: 10px;
}

footer {
  background-color: aliceblue;
  justify-content: bottom;
}